*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea
material-toggle-button/build
fiix-tech/build
viewbadger/build
deploy.log
deps*.txt
